/* 스크롤 페이지 */

.Scroll {
  font-family: sans-serif;
  text-align: center;
}

.slider {
  padding: 0px;
  color: #fff;
}
.slider .swiper-container1 {
  width: 100%;
  height: 100%;
}
.slider .swiper-container2 {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 0px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__images {
  height: 100vh;
  width: 100vw;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
}

/* 회원가입 페이지 */
.join-genderRadio {
  margin-left: 10px;
  margin-top: 15px;
}
.join-idCheck {
  width: 35%;
  background-color: rgb(25, 118, 210);
  color: white;
  height: 26px;
  border: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 130px;
  padding-left: 10px;
  border: 1px solid lightslategray;
  border-radius: 5%;
}
.join-inputId {
  width: 100%;
}

/* 로그인 페이지 */

.loginPage-findId {
  width: 49%;
  display: inline-block;
}
.loginPage-findPw {
  border: 1px solid rgb(255, 217, 44);
  width: 50%;
  display: inline-block;
}
.loginPage-join {
  width: 100%;
}

/* comfirmId */
.comfirmId {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.conf {
  width: 35%;
  background-color: rgb(25, 118, 210);
  color: white;
  height: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 130px;
  padding-left: 10px;
}

/* FindPw */
.FindPw-sendCertiNum {
  width: 33%;
  background-color: rgb(25, 118, 210);
  color: white;
  height: 22px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 130px;
  text-align: center;
  border-radius: 5%;
}

/* board 전체 틀 */
.feedBoard-board {
  min-width: 700px;
  background-color: white;
  max-width: 700px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  border-radius: 4%;
  padding: 10px;
}
.FeedSideBar-Btn {
  position: fixed;
  bottom: 0;
  border-radius: 20%;
  width: 100px;
  height: 200px;
  background-color: rgb(232, 230, 216);
  right: 5%;
}
.recommendBoard {
  width: 60%;
  background-color: white;
  max-width: 700px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  padding: 10px;
  float: left;
}
.board_recommendLeftBtn {
  padding: 10px;
  width: 5%;
  float: left;
}
.board_recommendRightBtn {
  padding: 10px;
  width: 5%;
  float: left;
}

/* 게시글 전체 가운데 정렬 */
.feedBoard-outer {
  text-align: center;
  background-color: rgb(232, 230, 216);
}
.feedBoard-inner {
  display: inline-block;
}
/* board_Image */
.feedBoard-boardImage {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
/* board_BoardContent */
.feedBoard-boardContent {
  text-align: left;
  font-weight: flex;
  padding: 2px;
}
/* board-UserId */
.feedBoard-userId {
  text-align: left;
  padding-left: 20px;
}
.feedBoard-content {
  margin-left: 20px;
}
.feedBoard-viewCount {
  float: left;
  margin-left: 20px;
  font-weight: bolder;
}
.feedBoard-createDate {
  text-align: right;
  width: 650px;
}
/* BoardWrite : 게시글 작성화면 css */
.BoardWrite-box {
  min-width: 1000px;
  background-color: white;
  max-width: 1000px;
  height: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.BoardWrite-outerBox {
  text-align: center;
}
.BoardWrite-innerBox {
  display: inline-block;
}
.BoardWrite-header {
  display: flex;
  align-items: center;
}
/* 게시글 쓰는 부분 css */
.BoardWrite-rightBox {
  border-left: 2px solid lightgray;
  float: right;
  width: 50%;
  height: 500px;
}
/* 사진 선택하는 부분 css */
.BoardWrite-leftBox {
  float: left;
  width: 50%;
}
/* 게시글 쓰는 부분 */
.BoardWrite-boardContent {
  margin-top: 80px;
  width: 350px;
  height: 300px;
}
/* 파일 선택하는 버튼 css */
.BoardWrite-selectImg {
  display: none;
}
.BoardWrite-defaultImg {
  width: 300px;
  height: 300px;
}
.BoardWrite-prevImg {
  margin: auto;
  width: 350;
  height: 350px;
}

/* BoardUpdate */
/* 사진 선택 */
.BoardUpdate-leftBox {
  float: left;
  width: 65%;
  max-height: 500px;
  display: flex;
  align-items: flex-start;
  margin: 30px 0;
}
/* 게시글 입력 */
.BoardUpdate-rightBox {
  border-left: 2px solid lightgray;
  float: right;
  width: 35%;
  height: 500px;
}
.BoardUpdate-box {
  min-width: 1000px;
  background-color: white;
  max-width: 1000px;
  height: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.BoardUpdate-outerBox {
  text-align: center;
}
.BoardUpdate-innerBox {
  display: inline-block;
}
.BoardUpdate-header {
  display: flex;
  align-items: center;
}
.BoardUpdate-boardContent {
  margin-top: 80px;
  width: 300px;
  height: 300px;
}
.BoardUpdate-selectImg {
  display: none;
}
.BoardUpdate-prevImg {
  width: 300px;
  height: 300px;
}
.BoardUpdate-defaultImg {
  margin-left: 20px;
  margin-right: 10px;
  width: 50%;
  height: 350px;
  width: 300px;
  height: 300px;
  /* display: none; */
}
.BoardUpdate-selectedImg {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

/* PersonPage */
/* PersonPage 전체 틀 css */
.PersonPage-Outer {
  text-align: center;
  border-top: 5px solid lightgray;
}
.PersonPage-Inner {
  display: inline-block;
  width: 80%;
  background-color: white;
}
/* 유저가 올린 사진 3개씩 출력되게하는 css */
.PersonPage-image-grid {
  padding-top: 30px;
  display: grid;
  border-top: 5px solid #2bb400;
  grid-template-columns: repeat(3, 1fr);
}
.PersonPage-image-grid {
  width: 100%;
}
.PersonPage-image-grid img {
  margin: 10px;
  min-height: 400px;
  max-height: 400px;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 18%;
}
/* 유저 기본 정보 보여주는 css */
.PersonPage-Information {
  margin-top: 5%;
  display: flex;
}
.PersonPage-Information-Log {
  margin-top: 70px;
  display: inline-block;
  width: 50%;
}
.PersonPage-Information-Grade {
  display: inline-block;
  width: 50%;
}
.PersonPage-Information-GradeImg {
  width: 400px;
  height: 400px;
}
.PersonPage-informationBtn {
  margin-top: 40px;
}

/* 비밀번호 찾기 */
/* .findpw-idCheck {
  width: 35%;
  background-color: dodgerblue;
  color: white;
  height: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding-left: 10px;
} */

/** DetailBoard 게시글 세부보기+댓글 **/
.outer-detail {
  display: flex;
  justify-content: center;
  background-color: white;
}

.inner-detail {
  margin-top: 50px;
  display: flex;
}

.detailboard-image {
  flex-direction: left;
  justify-content: center;
  margin: auto;
  width: 600px;
  height: 580px;
  background-color: white;
  border: 2px solid #c1b6ac;
  border-right: none;
  margin-bottom: 45px;
  float: left;
  text-align: center;
}

.detailboardtn-ud {
  margin-left: 200px;
}

/* margin-left: 240px; */

.detailboard-u {
  margin-right: 2px;
  background-color: #f7eecb;
  border: none;
}
.detailboard-d {
  margin-right: 10px;
  background-color: #f7eecb;
  border: none;
}

.boardImage {
  margin-top: 25px;
  width: 550px;
  height: 500px;
}

.Detailcomment {
  height: 525px;
  width: 550px;
  height: 580px;
  background-color: white;
  border: 2px solid #c1b6ac;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.semi-detail-comment {
  margin-top: 10px;
  margin-left: 12px;
}

.DetailBoard-comments {
  width: 530px;
  height: 510px;
  padding-right: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.DetailBoard-comments::-webkit-scrollbar {
  width: 5px;
}

.DetailBoard-comments::-webkit-scrollbar-thumb {
  height: 25%;
  background: #c2b2a3;
  border-radius: 10px;
}

.DetailBoard-comments::-webkit-scrollbar-track {
  background: #e8e5da;
}

.comment-commentstyle {
  padding-bottom: 10px;
}

.DetailBoard-writer-content {
  border: 1px solid lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  padding-right: 5px;
}

.boardContent {
}

h5 {
  display: inline;
  /* margin: 17px; */
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 45px;
}

.one-comment {
}

.write-comment {
  /* 자식 */
  position: absolute;
  bottom: 0;
  border: 15px;
  border-right: 10px;
  margin-left: 10px;
  border-top: 1px solid lightgray;
}

.Comment-write {
  width: 475px;
  height: 40px;
  border: none;
}

.detailboard-wcomment-btn {
  border: none;
  background-color: #f5e9b5;
  color: #433603;
}

/** DetailBoard 추천게시물 **/

.recommend-board {
  display: inline;
  padding: 10px;
  margin: auto;
}
.recommand-btn {
  width: 200px;
  height: 40px;
  background-color: #fbf5dc;
  border-radius: 20px;
  border: solid 1px #6b5603;
  color: #524202;
  font-family: Arial, Helvetica, sans-serif;
}

.modalforrecommand {
  text-align: center;
  justify-content: center;
  display: flex;
}

.modal-recommand-btn {
  /* display: flex; */
}

p {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}

.modalforrecommand {
  text-align: center;
}

.modalforcomment-ucomment-btn {
  background-color: #d8d2b8;
  border: none;
}

/* personPage */
.PersonPage-Outer {
  text-align: center;
  border-top: 5px solid lightgray;
}
.PersonPage-Inner {
  display: inline-block;
  width: 80%;
  background-color: white;
}

.PersonPage-update {
  border: 2px solid #7d6607;
  background-color: #ebe8da;
  color: #433603;
  border-radius: 10px;
}

.PersonPage-withdraw {
  border: 2px solid #7d6607;
  background-color: #e8e2c8;
  color: #433603;

  border-radius: 10px;
}

/* 유저가 올린 사진 3개씩 출력되게하는 css */
.PersonPage-image-grid {
  display: grid;
  border-top: 5px solid #fed634;
  grid-template-columns: repeat(3, 1fr);
}
.PersonPage-image-grid {
  width: 100%;
}
.PersonPage-image-grid img {
  margin: 10px;
  min-height: 400px;
  max-height: 400px;
  width: 85%;
  border: 1px solid lightgray;
  border-radius: 18%;
}
/* 유저 기본 정보 보여주는 css */
.PersonPage-Information {
  display: flex;
  margin-top: 0;
}
.PersonPage-Information-Log {
  display: inline-block;
  width: 50%;
}
.PersonPage-Information-Grade {
  display: inline-block;
  width: 50%;
}
.PersonPage-Information-GradeImg {
  width: 300px;
  height: 300px;
}
.PersonPage-informationBtn {
  margin-top: 40px;
}
/* Mail Service  */
.parentmail {
  display: flex;
  margin: 40px 40px 40px 40px;
  height: 500px;
  width: 1000px;
}
.parentmail2 {
  display: flex;
  margin: 40px 80px 40px 40px;
  padding: 0px 30px;
  height: 400px;
  width: 1000px;
}
.childmail {
  height: 500px;
  width: 100%;
  flex: 1;
  margin: 20px 20px;
  padding: 10px;
}
.childmail2 {
  height: 300px;
  flex: 1;
  margin: 75px 10px;
  padding: 5px;
}
.checkchild1 {
  height: 200px;
  flex: 1;
  margin: 13px 10px;
  padding: 5px;
  display: block;
}
