/* 스크롤 페이지 */

.Scroll {
  font-family: sans-serif;
  text-align: center;
}

.slider {
  padding: 0px;
  color: #fff;
}
.slider .swiper-container1 {
  width: 100%;
  height: 100%;
}
.slider .swiper-container2 {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: flex-start;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 0px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__images {
  height: 100vh;
  width: 100vw;
}
.slider__images .slider__image img {
  transition: 3s;
}
.slider__images .slider__image:hover img {
  transform: scale(1.1);
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 30px; /* 사진 모서리 둥글게 */
  overflow: hidden;
}
.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}
/* 헤더 */
/* 기본헤더 */
/* .header-Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  justify-content: space-between;
} */

/* 회원가입 페이지 */
.join-genderRadio {
  margin-left: 10px;
  margin-top: 15px;
}
.join-idCheck {
  width: 35%;
  background-color: dodgerblue;
  color: white;
  height: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 130px;
  padding-left: 10px;
}
.join-inputId {
  width: 100%;
}

/* 로그인 페이지 */

.loginPage-findId {
  /* float: left; */
  width: 49%;
  display: inline-block;
}
.loginPage-findPw {
  /* float: right; */
  width: 50%;
  display: inline-block;
}
.loginPage-join {
  width: 100%;
}

/* comfirmId */
.comfirmId {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.conf {
  width: 35%;
  background-color: dodgerblue;
  color: white;
  height: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 130px;
  padding-left: 10px;
}
.find-id {
  display: flex;
  justify-content: center;
  align-items: center;
  color: dodgerblue;
  /* min-height: 100vh; */
}

/* 실천내용 페이지 */
/* 실천내용 작성하기 버튼 */
.writeBoard {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 1;
  padding: 10px;
  background-color: rgb(23, 122, 117);
  border-radius: 6px;
  /* color : 글자색깔 */
  color: #fff;
  border: 1px solid rgb(23, 122, 117);
  /* text-align: left; */
}
/* 상단으로 이동하기 버튼 */
.goToTop {
  color: #fff;
  background-color: rgb(23, 122, 117);
  position: fixed;
  bottom: 10px;
  left: 50%;
}
/* board 전체 틀 */
.board {
  min-width: 700px;
  background-color: white;
  max-width: 700px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
/* 게시글 전체 가운데 정렬 */
.outer {
  text-align: center;
}
.inner {
  display: inline-block;
}
/* board_Image */
.board_Image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
/* board_BoardContent */
.board_BoardContent {
  text-align: left;
  font-weight: flex;
  padding: 20px;
}
/* boader_Header */
.boader_Header {
  display: flex;
  align-items: center;
  padding: 20px;
}
/* board-UserId */
.board_UserId {
  text-align: left;
  padding-left: 20px;
}

/* BoardWrite : 게시글 작성화면 css */
/* 게시글 쓰는 부분 css */
.BoardWrite-rightBox {
  background-color: beige;
  float: right;
  width: 50%;
}
/* 사진 선택하는 부분 css */
.BoardWrite-leftBox {
  background-color: beige;
  float: left;
  width: 50%;
}

/* BoardUpdate */
/* 사진 선택 */
.BoardUpdate-leftBox {
  background-color: beige;
  float: left;
  width: 50%;
}
/* 게시글 입력 */
.BoardUpdate-rightBox {
  background-color: beige;
  float: right;
  width: 50%;
}

/* PersonPage */
/* PersonPage 전체 틀 css */
.PersonPage-Outer {
  text-align: center;
  background-color: rgb(179, 207, 175);
}
.PersonPage-Inner {
  display: inline-block;
  width: 80%;
  background-color: white;
}
/* 유저가 올린 사진 3개씩 출력되게하는 css */
.PersonPage-image-grid {
  display: flex;
  flex-wrap: wrap;
  border-top: 5px solid rgb(179, 207, 175);
}
.PersonPage-image-grid {
  width: 100%;
}
.PersonPage-image-grid img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
/* 유저 기본 정보 보여주는 css */
.PersonPage-Information {
  margin-top: 5%;
  margin-left: 20%;
  display: flex;
}
.PersonPage-Information-Log {
  display: inline-block;
  width: 30%;
}
.PersonPage-Information-Grade {
  display: inline-block;
  width: 30%;
}
.PersonPage-Information-Board {
  display: inline-block;
  width: 30%;
}

/* 비밀번호 찾기 */
.findpw-idCheck {
  width: 35%;
  background-color: dodgerblue;
  color: white;
  height: 20px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding-left: 10px;
}
